.work-div {
  width: 438px;
  margin: 0 auto;
}
.work-heading {
  width: 414px;
  height: 50px;
  font-family: "Plus-Jakarta-Sans-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #262626;
  margin-top: 71px;
}
.work-title {
  width: 438px;
  height: 36px;
  font-family: "Plus-Jakarta-Sans-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #707eae;
}

.work-btn1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 32px;
  gap: 8px;
  width: 162px;
  height: 34px;
  border-radius: 20px;
  background: #ffffff;
  color: #47548c;
  border: 1px solid #a3aed0;
}

.btnContaienr {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.btnContaienr-two {
  display: flex;
  justify-content: start;
  margin-top: 16px;
  column-gap: 8px;
}
.label-bussiness {
  display: flex;
  display: flex;
  width: 438px;
  height: 18px;
  font-family: "Plus-Jakarta-Sans-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #262626;
  margin-top: 48px;
}
.label-property {
  display: flex;
  width: 438px;
  height: 18px;
  font-family: "Plus-Jakarta-Sans-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #262626;
  margin-top: 24px;
}

.image-show{
  display: flex;
  justify-content: start;
  color:rgb(8, 150, 8);
} 
.auth-err-work{
  display: flex;
  justify-content: start;
  color: red;
}

// custom upload document maate
// .custom-inputfield{
//   display: none;
// }
// .uploadeDoc{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-top: 12px;;
//   padding-left: 4%;
//   border-radius: 10px;
//   background: #ffffff;
//   border: 1px solid #a3aed0;
//   color: #47548C;
//   box-sizing: border-box;
//   padding: 12px 32px;
//   width: 438px;
//   height: 48px;
// }





   
 
    



  
 
   
 
