.heading {
  font-family: "Plus-Jakarta-Sans-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #262626;
  margin-top: 71px;
}
.heading-text {
  font-family: "Plus-Jakarta-Sans-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #707eae;
  margin-top: 8px;
}
.heading-text-2 {
  margin-top: 32px;
  font-family: "Plus-Jakarta-Sans-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #262626;
  text-align: start;
}
.Identity-button1 {
  display: flex;
  text-align: start;
  column-gap: 8px;
}
hr{
  margin-top: 32px;
}
.Identity-button2{
  display: flex;
  text-align: start;
  column-gap: 8px;
}
.heading-text-3 {
  margin-top: 32px;
  font-family: "Plus-Jakarta-Sans-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #262626;
  text-align: start;
}
