.uploadDoc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;;
    padding-left: 4%;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid #a3aed0;
    color: #47548C;
    box-sizing: border-box;
    padding: 12px 32px;
    width: 438px;
    height: 48px;
  }
  
  .custom-inputField{
    display: none;
  }